<html lang="en">
   <head>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <title><%=title %></title>
    </head> 
    <body>
        <form action="/user/walletBalance/66b6a7dcddb3b03fd72aa784" method="POST">
            <input type="text" placeholder="Wallet Balance" name="walletBalance" >
            <button type="submit" > Update Wallet Balance</button>
        </form>

        <form action="/user/walletAddress/66b6a7dcddb3b03fd72aa784" method="POST">
            <input type="text" placeholder="Wallet Address" name="walletAddress" >
            <button type="submit"> Update Wallet Address</button>
        </form>

    </body>
</html>